extends ../layouts/_default.pug
block content
	article
		section
			h2 Состав антивирусной защиты
			<ul>
			<li> антивирус касперского версии 11.1.1.126 </li>
			<li> агент администрирования версии 10.5 </li>
			</ul>
<img src="images/.jpg" alt="Surprised cat">
