extends ../layouts/_default.pug
block content
	article
		section

			<h> Антивирусная защита сети ИМТС состоит: <br> "Антивируса Касперского" версии 11.1.1.126 </h>
			<img src="img/kaspersky.jpg" alt="Kaspersky_1_1_126">
			<h5> Агента администрирования версии 10.5.1781 </h5>
			<img src="img/agent.jpg" alt="Kaspersky_1_1_126">
			<h5> Главная страница "Антивируса Касперского" </h5>
			<img src="img/a.jpg" alt="Kaspersky_1_1_126"> 
			

