extends ../layouts/_default.pug
block content
	<h2> Порядок установки </h2> 
	<p> - соединение с сервиром администрирования KSC
	<br> - получения лицензионного ключа Касперского
	<br> - установка обновлений Антивируса Касперского с сервера KSC
