extends ../layouts/_default.pug
block content
	<article>
		<h2> Установка критических обновлений Windows </h2>
		<p>Перечень обновлений:
			<img class="img-left" src="https://igoradamenko.github.io/awsm.css/images/surprised-cat.jpg" />
		</p>
		<ul>
			<li> kb442212 </li>
			<li> kb4499175 </li>
		</ul>
	</article>
