extends ../layouts/_default.pug
block content
	<h2> Порядок установки </h2> 
	<p> - соединение с сервиром администрирования 
	<br> - получения лицензионного ключа 
	<br> - установка обновлений Антивируса Касперского
