doctype html
html
	head
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Untitled
		link(rel="stylesheet" href="css/awsm.min.css")
	body
		header
			h1 Документы
			p Для меня
			nav
				ul
					li
						a(href="./documents-1.html") documents-1
					li
						a(href="./documents-2.html") documents-2
		main
			article
				section
					h1 Главная страница сайта
					p Здесь я напишу назначение сайта
		footer
			p Viktor Mikitenko
