mixin header
	-
		const data = {
			pages: [
				{
					title: 'Главная',
					href: './index.html'
				},
				{
					title: 'страница 2',
					href: './page-2.html'
				},
				{
					title: 'страница 3',
					href: './page-3.html'
				},
			]
		};
		const { pages } = data;

	header.header
		h1 Антивирусная защита ИМТС МВД России
		p включает Антивирус Касперского и агент администрирования
		nav
			ul
				each page in pages
					li
						a(href=page.href) #{page.title}
