include ../components/_header.pug


doctype html
html
	head
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Untitled
		link(rel="stylesheet" href="css/awsm.min.css")
		link(rel="stylesheet" href="css/main.css")
	body.wrap-site
		+header
		main.main
			block content
		footer.footer
			p Viktor Mikitenko
